/* Add CSS Styling */
.first-class
{
background-color: rgb(223, 34, 128);
font-family: Verdana, "DejaVu Sans",sans-serif;
}

#second
{
    color:blue;
    font-size: 36px;
}

.third
{
font-size: 24px;
}

#fourth
{
background-color: green;
font-size: 24px;
font-weight: bold;
}

