/* Add CSS Styling */
.button1
{
    background-color: black;
    color: white;
}

.button2
{
    background-color: yellow;
}

.button1
.button2
{
    font-style: Helvetica,"Times New Roman",sans-serif;
    font-size: 28px;
}

